<br/>
<% post.comments.forEach(function(comment, index){ %>
<p>
    <a href="<%= comment.website %>"><%= comment.name %>
        <img width="30" src="/images/head-images/<%= comment.head%>.jpg"></a>
</p>
<span class="info">回复于:<%= comment.time %></span>
<p><%- comment.content %></p>
<hr width="70%" style="margin: 2em auto">
<% }) %>

<form method="post">

    <% if(user){ %>
    <a href="/u/<%= user.name%>"><img width="60" class="left-head" src="/images/head-images/<%= user.head%>.jpg"></a>
    <div class="right-comment">
        姓名：<input type="text" name="name" value="<%= user.name%>"/><br/>
        邮箱：<input type="text" name="email" value="<%= user.email%>"/><br/>
        网址：<input type="text" name="website" value="/u/<%= user.name%>"/><br/>
    </div>
    <textarea name="content" rows="5" cols="80"></textarea><br />
    <input type="submit" value="留言" />
    <% } %>
</form>